## Settings file was created by plugin OdinsBarrelRide v1.0.4
## Plugin GUID: org.bepinex.plugins.odinsbarrelride

[OdinsBarrelRide]

## Build Category where OdinsBarrelRide is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, Furniture, All, Custom
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Crafting station where OdinsBarrelRide is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft OdinsBarrelRide
# Setting type: String
# Default value: Wood:20:True,LeatherScraps:4:True
Crafting Costs = Wood:20:True,LeatherScraps:4:True

[OdinsDuckRide]

## Build Category where OdinsDuckRide is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, Furniture, All, Custom
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Crafting station where OdinsDuckRide is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft OdinsDuckRide
# Setting type: String
# Default value: Feathers:10:True,LeatherScraps:4:True
Crafting Costs = Feathers:10:True,LeatherScraps:4:True

